@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Coiny|Rammetto+One');

* {
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}

body {
	margin: 0;
	overflow-x: hidden;
}

body.modal-open {
			padding: 0 !important;
			overflow-y: scroll;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/* START GRID */
.row:before,
.row:after {
	content: "";
	clear: both;
	display: block;
}

[class*='col-'] {
	float: left;
	margin: 0 auto;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-offset-1 {margin-left: 8.33%;}
.col-offset-2 {margin-left: 16.66%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33%;}
.col-offset-5 {margin-left: 41.66%;}
.col-offset-6 {margin-left: 50%;}
.col-offest-7 {margin-left: 58.33%;}
.col-offest-8 {margin-left: 66.66%;}
.col-offest-9 {margin-left: 75%;}
.col-offest-10 {margin-left: 83.33%;}
.col-offest-11 {margin-left: 91.66%;}
/* END GRID */

/* START PHONE */
@keyframes ring {
	0% {
		transform: rotate(-15deg);
	}

	2% {
		transform: rotate(15deg);
	}

	4% {
		transform: rotate(-18deg);
	}

	6% {
		transform: rotate(18deg);
	}

	8% {
		transform: rotate(-22deg);
	}

	10% {
		transform: rotate(22deg);
	}

	12% {
		transform: rotate(-18deg);
	}

	14% {
		transform: rotate(18deg);
	}

	16% {
		transform: rotate(-12deg);
	}

	18% {
		transform: rotate(12deg);
	}

	20% {
		transform: rotate(0deg);
	}
}

.faa-ring.animated {
	animation: ring 2s ease infinite;
	transform-origin-x: 50%;
	transform-origin-y: 0px;
	transform-origin-z: initial;
	color: #008dc9;	
	float: left;
	margin-left: 20px;
}
/* END PHONE */

/* --- MAIN BODY --- */
nav {
	background: #404040;
	height: 91px;
	width: 100%;
	content: "";
	display: table;
	position: fixed;
	z-index: 1;
	box-shadow: 0px 3px 5px;
	.languages {
		width: 100%;
		height: 26px;
		background-color: #313234;
		a {
			display: block;
			float: right;
			padding: 3px 15px;
			img {
			}
			img:hover {
				box-shadow: 0 0 8px white;
			}
		}
	}
	.menu {
		.links {
			display: block;
			float: left;
			height: 85px;
			ul {
				display: block;
				float: left;
				width: 100%;
				margin: 0 auto;
				padding: 0;
				line-height: 92px;
				text-align: center;
				li {
					display: inline-block;
					padding: 0 20px;
					a {
						text-decoration: none;
						color: white;
						text-transform: uppercase;
						font-family: 'Josefin Sans', sans-serif;
						font-size: 16px;
						font-weight: bold;
						letter-spacing: 2px;
						border-left: 1px solid #313234;
						padding: 0 16px;

					}
				}	
			}
		}
		.logo {
			display: block;
			float: right;
			text-align: left;
			height: 70px;
			img {
				margin-top: 16px;
				width: 150px;
				height: auto;
				padding: 8px;
				background-color: white;
				border-radius: 5px;
			}
		}
	}
}
.hero {
	height: 78vh;
	background: url('../images/jumbotron.jpg');
	background-size: cover;
	.callme {
		margin-top: 0px;
		.btn-primary.visit {
			margin-top: 112px;
			padding: 0;
			height: 40px;
			width: 100%;
			border-radius: 0;
			border: 0;
			outline: none;
			background-color: #286090;
			p {
				padding-top: 10px;
				margin: 0;
				height: 40px;
			}
		}
		.btn-primary.visit:hover {
			border-radius: 0;
			height: 40px;
			border: 0;
		}
	}
	.modal-header {
		color: #008dc9;
		span {
			margin-top: 7px;
			float: left;
		}
	}
	.modal-body {
	}
	.modal-footer {
	}
	.animate-text {
		position: relative;
		color: white;
		text-align: center;
		text-shadow: 1px 1px 3px black;
		height: calc(76.7%);
		.rotating-item-one{
			position: absolute;
			display: none;
			top: calc(35% + 0px);
			font-size: 43px;
			font-family: 'Rammetto One', cursive;
		}	
		.rotating-item-two {
			position: absolute;
			display: none;
			top: calc(50% + 20px);
			padding: 0 7px;
			font-size: 25px;
			font-family: 'Rammetto One', cursive;
		}
	}
}
#onas {
	height: 70vh;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 80px;
	.description {
		color: gray;
		text-align: center;
		margin: 0 auto;
		h2 {
			text-transform: uppercase;
			color: #008dc9;
			padding-top: 40px;
			padding-bottom: 40px;
		}
		p {
			width: 100%;
			margin: 0 auto;
			font-size: 18px;
			padding-bottom: 50px;
		}
	}
	.item {
		display: block;
		float: left;
		text-align: center;
		padding-bottom: 15px;
		.counter {
			font-size: 40px;
			color: #008dc9;
		}
		p {
			font-size: 15px;
			color: gray;
			text-transform: uppercase;
			width: 150px;
			margin: 0 auto;
		}
	}
}
footer {
	background-color: silver;
	text-align: center;
	clear: both;
	height: 40px;
	p {
		margin: 0;
		padding: 10px;
		color: white;
		text-shadow: 0 0 1px black;
	}
}

/* MEDIA QUERIES 
/* -------------------------------------------
/* urządzenia duże (desktopy, monitory, tv) */
@media (min-width: 1200px) {
	
}

/* urządzenia średnie */
@media (min-width: 992px) and (max-width: 1199px) {
	nav {
		menu {
			.links {
				ul {
					li {
						a {
						}
						a:hover {
						}
					}	
				}
			}
			.logo {
				img {
				}
			}
		}
	}
	.hero {
		height: 78vh;
		.callMe {
			.btn-primary.visit {
			}
			.btn-primary.visit:hover {
			}
		}
		.animate-text {
			height: calc(100% - 23.3%);
			.rotating-item-one{
				font-size: 35px;
			}	
			.rotating-item-two {
				font-size: 18px;
			}
		}
	}
	#onas {
		.description {
			p {
			}
		}
		.item {
			p {
			}
		}
	}
}

/* urządzenia małe (tablety) */
@media (min-width: 768px) and (max-width: 991px) {
	nav {
		position: static;
		.menu {
			.links {
				float: none;
				ul {
					line-height: 30px;
					li {
					display: block;
					padding: 10px;
						a {
							border-left: 0px;
							font-size: 120%;
						}
					}
				}
				ul:first-child {
					padding-top: 5px;
				}
				ul:last-child {
					padding-bottom: 5px;
				}
			}
			.logo {
				width: 100%;
				text-align: center;
				img {
					width: 140px;
				}
			}
		}
	}
	.hero {
		height: 50vh;
		.callme {
			.btn-primary.visit {
				margin-top: 0px;
			}
			.btn-primary.visit:hover {
			}
		}
		.animate-text {
			height: calc(100% - 9.6%);
			.rotating-item-one{
				font-size: 30px;
			}	
			.rotating-item-two {
				font-size: 16px;
			}
		}
	}
	#onas {
		height: 90vh;
		.description {
			p {
				width: 95%;
				font-size: 16px;
			}
		}
		.item {
			width: 100%;
			p {
			}
		}
	}
}

/* urządzenia bardzo małe (telefony) */
@media (max-width: 767px) {
	nav {
		position: static;
		.menu {
			.links {
				float: none;
				ul {
					line-height: 25px;
					li {
					display: block;
					padding: 10px;
						a {
							border-left: 0px;
							font-size: 120%;
						}
					}	
				}
				ul:first-child {
					padding-top: 5px;
				}
				ul:last-child {
					padding-bottom: 5px;
				}
			}
			.logo {
				width: 100%;
				text-align: center;
				img {
					width: 120px;
				}
			}
		}
	}
	.hero {
		height: 50vh;
		.callme {
			button.btn-primary.visit {
				margin-top: 0px;
			}
			.btn-primary.visit:hover {
				
			}
		}
		.animate-text {
			height: calc(100% - 9.6%);
			.rotating-item-one{
				font-size: 25px;
			}	
			.rotating-item-two {
				font-size: 13px;

			}
		}
	}
	#onas {
		height: 90vh;
		/*margin-top: 23px;*/
		margin-bottom: 30px;
		.description {
			p {
			width: 95%;
			/*margin: 0 auto;*/
			font-size: 16px;
			/*padding-bottom: 10px;*/
			}
		}
		.item {
			width: 100%;
			p {
				/*font-size: 16px;*/
			}
		}
	}
}