@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Michroma');


* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/* grids */
.row:before,
.row:after {
	content: "";
	clear: both;
	display: block;
}

[class*='col-'] {
	float: left;
 	margin: 0 auto;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-offset-1 {margin-left: 8.33%;}
.col-offset-2 {margin-left: 16.66%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33%;}
.col-offset-5 {margin-left: 41.66%;}
.col-offset-6 {margin-left: 50%;}
.col-offest-7 {margin-left: 58.33%;}
.col-offest-8 {margin-left: 66.66%;}
.col-offest-9 {margin-left: 75%;}
.col-offest-10 {margin-left: 83.33%;}
.col-offest-11 {margin-left: 91.66%;}

/* Phone */
@keyframes ring {
	0% {
		transform: rotate(-15deg);
	}

	2% {
		transform: rotate(15deg);
	}

	4% {
		transform: rotate(-18deg);
	}

	6% {
		transform: rotate(18deg);
	}

	8% {
		transform: rotate(-22deg);
	}

	10% {
		transform: rotate(22deg);
	}

	12% {
		transform: rotate(-18deg);
	}

	14% {
		transform: rotate(18deg);
	}

	16% {
		transform: rotate(-12deg);
	}

	18% {
		transform: rotate(12deg);
	}

	20% {
		transform: rotate(0deg);
	}
}

.faa-ring.animated {
	animation: ring 2s ease infinite;
	transform-origin-x: 50%;
	transform-origin-y: 0px;
	transform-origin-z: initial;
	color: #008dc9;	
	float: left;
	margin-left: 20px;
}
/* END PHONE */

nav {
	background: linear-gradient(silver, white);
	height: 61px;
	width: 100%;
	content: "";
	display: table;
	clear: both;
	border-bottom: 1px solid black;
	.languages {
		width: 100%;
		height: 26px;
		background-color: gray;
		a {
			display: block;
			float: right;
			padding: 1px 15px;
			img {
				/*border-radius: 3px;*/
				/*box-shadow: 0 0 8px black;*/
			}
			img:hover {
				box-shadow: 0 0 8px white;
			}
		}
	}
	.menu {
		.links {
			display: block;
			float: left;
			height: 61px;
			ul {
				display: block;
				float: left;
				width: 100%;
				margin: 0 auto;
				padding: 0;
				line-height: 72px;
				text-align: center;
				li {
				display: inline-block;
				padding: 0 20px;
					a {
						text-decoration: none;
						color: black;
						text-transform: uppercase;
						font-family: 'Michroma', sans-serif;
						font-size: 12px;
						letter-spacing: 2px;
						border-left: 1px solid grey;
						padding: 0 16px;
					}
					a:hover {
						color: #00c7e8;
						transition: color 0.4s;
						border-left: 1px dashed grey;
					}
				}	
			}
		}
		.logo {
			display: block;
			float: right;
			text-align: left;
			height: 70px;
			img {
				margin-top: 10px;
				width: 180px;
				height: auto;
			}
		}
	}
}
.hero {
	height: 350px;
	background: url('../images/jumbotron.jpg');
	background-size: cover;
	background-position: 50%;
	border-bottom: 1px solid black;
	.btn-primary.visit { 
		position: relative;
		width: 150px;
		top: 150px;
		left: calc(50% - 75px);
		outline: none;
		color: #000 !important;
		background: rgba(255,255, 255, 0.8) !important; 
		border: 1px solid #000 !important;
	}
	.btn-primary.visit:hover {
		color: #fff !important;
		background: rgba(0, 0, 0, 0.8) !important;
		border: 1px solid #fff !important;
	}
	.modal-header {
		color: #008dc9;
		span {
			margin-top: 7px;
			float: left;
		}
	}
	.modal-body {
		/*color: #008dc9;*/
	}
	.modal-footer {
		/* ... */
	}
}
#onas {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	.description {
		color: gray;
		text-align: center;
		margin: 0 auto;
		h3 {
			text-transform: uppercase;
			color: #008dc9;
			padding-top: 10px;
			padding-bottom: 20px;
		}
		p {
			width: 90%;
			margin: 0 auto;
			padding-bottom: 15px;
		}
	}
	.item {
		display: block;
		float: left;
		text-align: center;
		padding-bottom: 15px;
		p.count-this {
			font-size: 40px;
			color: #008dc9;
		}
		p {
			font-size: 15px;
			color: gray;
			text-transform: uppercase;
			width: 150px;
			margin: 0 auto;
		}
	}
}
footer {
	background-color: silver;
	text-align: center;
	clear: both;
	height: 40px;
	p {
		margin: 0;
		padding: 10px;
		color: white;
		text-shadow: 0 0 1px black;
	}
}

/*MEDIA*/
/*urządzenia duże (desktopy, monitory, tv)*/
@media (min-width: 1200px) {
	
}

/*urządzenia średnie*/
@media (min-width: 992px) and (max-width: 1199px) {
	
}

/*urządzenia małe (tablety)*/
@media (min-width: 768px) and (max-width: 991px) {
	
}

/*urządzenia bardzo małe (telefony)*/
@media (max-width: 767px) {
	nav {
		.menu {
			.links {
				float: none;
				height: 100px;
				ul {
					line-height: 30px;
					li {
					display: block;
						a {
							border-left: 0px;
						}
						a:hover {
							border-left: 0px;
						}
					}	
				}
			}
			.logo {
				float: none;
				margin-top: 10px;
				width: 100%;
				text-align: center;
			}
		}
	}
	.hero {
		height: 320px;
	}
	#onas {
		height: 100vh;

		.description {
			p {
				/*width: 90%;*/
			}
		}
		.item {
			float: left;
			width: 100%;
			padding-bottom: 25px;
			p.count-this {
				font-size: 40px;
				color: #008dc9;
				width: 100%;
			}
			p {
				font-size: 16px;
				color: gray;
				text-transform: uppercase;
			}
		}
	}
}