.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.jumbotron {
	height: 400px;
	background: url('../images/jumbotron.jpg');
	background-size: cover;
	background-position: 50%;
	margin: 0;
	padding: 0;
	border-radius: 0px;
	
	img {
		width: 20px;
		height: 15px;
		margin: 15px 12px 0 25px;
		border-radius: 4px;
		border: 1px solid silver;
		float: right;
		box-shadow: 0px 0px 7px gold;
	}
	
	.navbar {
		top: 50px;
	}

	.navbar-toggler {
		margin: 8px;
		outline: none;
		border: 1px solid white;
		background-color: rgba(0, 0, 0, 0.6);
		box-shadow: 0px 0px 15px white;
		.navbar-toggler-icon {
			color: white;
			padding-top: 5px;
		}
	}

	.nav-item {
		margin: 8px;
		[class^="nav-link"] {
			color: white;
			width: 110px;
			padding: 2px;
			border: 1px solid white;
			border-radius: 5px;
			text-align: center;
			background-position: 100% 0;
			background-size: 300%;
			transition: 1s;
			background-color: rgba(0, 0, 0, 0.6);
			box-shadow: 0px 0px 15px white;
		}

		[class^="nav-link"]:hover {
			background-position: 0 100%;
		}

		.btn-purple {
			background-image: linear-gradient(90deg, #8e44ad 50%, transparent 50%);
		}

		.btn-yellow {
			background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
		}

		.btn-blue {
			background-image: linear-gradient(135deg, #3498db 50%, transparent 50%);
		}
	}

	.navbar-brand {
		color: white;
		padding-top: 30px;
		font-weight: bold;
		font-size: 30px;
		border: 1px solid white;
		padding: 15px;
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 5px;
		margin-left: 31px;
		text-shadow: 0px 0px 8px black;
		box-shadow: 0px 0px 15px white;
	}

	.navbar-brand:hover {
		color: white;
	}
}